
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title">Name: {{VociM?.business}}</h4>
      <h5 class="card-subtitle mb-2 text-body-secondary">{{VociM?.name}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Account: {{VociM?.account}}</h6>
      <p class="card-text">Date: {{VociM?.date | date:'mediumDate'}}</p>
      <p class="card-text">Type: {{VociM?.type}}</p>
      <p class="card-text">Amount: {{VociM?.amount | currency}}</p>
    </div>
  </div>